.connect {}

.connect-container {
  padding: 1.5em;
}

.connect-title {
  width: 70%;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
}

.connect-description {
  font-size: 0.9em;
  font-weight: 500;
}

.connect-form-label {
  margin: 0;
  font-size: 0.8em;
}

.connect-form-input {
  width: 95%;
  height: 1.5em;
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
  border-width: 1px;
  border-radius: 0.3em;
  border-color: lightgray;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.connect-form-select {
  margin: 0.5em 0 1em 0;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.connect-form-textarea {
  width: 95%;
  height: 6em;
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
  border-width: 1px;
  border-radius: 0.3em;
  border-color: lightgray;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.connect-form-submit {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8em 0;
  margin: 1em 0;
  border-radius: 0.3em;
  text-decoration: none;
  font-size: 01em;
  color: white;
}
