.home-header {
  padding-top: 2em;
  color: white;
}

.home-title-container {
  width: 4.5em;
  height: 4.5em;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 50%;
  background-color: #5bff60;
}

.home-title {
  text-align: center;
  vertical-align: middle;
  font-size: 3.5em;
  font-weight: 900;
  margin: 0;
}

.home-content {
  padding: 1em;
}
