.Home-header {
  padding: 2em;
  color: white;
}

.Home-title-container {
  width: 12em;
  height: 12em;
  margin: 0 auto;
  padding: 4em;
  border-radius: 50%;
  background-color: chartreuse;
}

.Home-title {
  text-align: center;
  vertical-align: middle;
  font-size: 10em;
  font-weight: 900;
  margin: 0;
}