.Connect {
  
}

.Connect-form-label {
  display: block;
  margin: 5px;
  font-size: 0.8em;
}

.Connect-form-required {
  color: #F00
}

.Connect-form-input {
  margin-left: 10px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #777;
}

.Connect-form-submit {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #FFF;
  border-width: 1px;
  border-radius: 5px;
  border-color: #777;
}
