.alpha {
  .header-img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }

  hr {
    margin: 16px 0;
  }

  .info {
    > div {
      display: flex;
      align-items: center;
      margin: 8px 0;
    }

    .img {
      display: inline-block;
      height: 24px;
      width: 24px;
      fill: grey;
      margin-right: 8px;
    }

    p {
      display: inline;
      margin: 0;
      font-size: 14px;
    }
  }
}