.christmas {
  section {
    margin: 24px 0;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }

    a {
      text-align: center;
    }
    
    img {
      width: 100%;
    }
  }
}