.news {
  .content-wrapper {
    &:not(:first-of-type) {
      border-top: 0.5px solid lightgrey;
    }

    .content {
      padding: 24px;
    }

    img {
      width: 100%;
      max-height: 50vh;
      object-fit: cover;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    .html {
      h1, h2, h3, h4, h5, h6 {
        margin: 24px 0 12px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }

  .no-event {
    margin: 50% 0;
    text-align: center;

    h2 {
      font-size: 36px;
      color: #263238
    }

    p {
      margin: 18px 36px;
      font-size: 20px;
      color: #263238
    }
  }
}
