h2 {
  margin: 0;
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h3 {
  margin: 0.5em 0;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5em;
}

section {
  margin: 1.5em 0;
}

.giving-description-post {
  color: grey;
}

.giving-description-post a {
  text-decoration: underline;
  color: grey;
}

.giving-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0;
  margin: 1.5em 0;
  border-radius: 0.3em;
  font-size: 1em;
  color: white;
  text-decoration: none;
}