.giving {
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  section {
    margin: 24px 0;
  }

  hr {
    margin: 32px 0;
  }

  .fine {
    color: grey;
    
    a {
      text-decoration: underline;
      color: grey;
    }
  }
}