.home-header {
  position: relative;
}

.home-title-container-img {
  position: relative;
  width: 100%;
}

.home-title-container-img path {
  width: 100%;
  max-height: 300px;
}

.home-title-logo-img {
  position: absolute;
  width: 4.7em;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.home-title-logo-img .cls-1 {
  fill: #f6f6f6;
}

.home-content {
  padding: 0 1em;
}

.version-number {
  display: none;
}
