.home-header {
  position: relative;
}

.home-title-container-img {
  position: relative;
  height: auto;
  width: auto;
}

.home-title-logo-img {
  position: absolute;
  display: block;
  width: 4.7em;
  height: 4.7em;
  left: 0;
  right: 0;
  top: 0;
  margin: 1.5em auto 0;
}

.home-title-logo-img .cls-1 {
  fill: #f6f6f6;
}

.home-content {
  padding: 0 1em;
}
