.home {
  .version-number {
    display: none;
  }

  .header {
    position: relative;
  }

  .banner-img {
    position: relative;
    width: 100%;

    path, circle {
      fill: #5938d9;
    }
  }

  .logo-img {
    position: absolute;
    width: 72px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    .cls-1 {
      fill: #f6f6f6;
    }
  }

  .content {
    padding: 0 16px;

    .section {
      border-bottom: 0.5px solid lightgrey;
    }
  }
}
