.stats {
  hr {
    margin: 16px 0;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #ddd;
  }

  .table th,
.table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    }

  table.Volunteers th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Lato', sans-serif;
  }

  table.Volunteers tbody, th {
    text-align: left;
  }

  table.Volunteers tr.even {
    background-color: #F0F0F0
  }

  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

  #myInput {
    width: 100%;
    margin-bottom: 12px;
    padding: 0.5rem;
    vertical-align: bottom;
    
  }


  // td, th, tr, tbody {
  //   border: 1px solid #ddd;
  //   padding: 8px;
  //   font-family: 'Lato', sans-serif;
  // }

  // id tr: nth-child(even) {
  //   background-color: #f2f2f2;
  //   font-family: 'Lato', sans-serif;
  // }


  // dl {
  //   > div {
  //     display: flex;
  //     align-items: center;
  //     margin: 8px 0;
  //   }

  //   .img {
  //     display: inline-block;
  //     height: 24px;
  //     width: 24px;
  //     fill: grey;
  //   }

  //   dt {
  //     display: inline;
  //     margin: 0 8px;
  //     font-size: 15px;
  //   }

  //   dd {
  //     display: inline;
  //     margin: 0;
  //     font-size: 14px;
  //     font-weight: 600;
  //   }
  // }
  
}
