.stats {
  hr {
    margin: 16px 0;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #ddd;
  }

  .table th,
.table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    }

  table.Volunteers th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Lato', sans-serif;
  }

  table.Volunteers tbody, th {
    text-align: left;
  }

  table.Volunteers tr.even {
    background-color: #F0F0F0
  }

  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
  background-color: #d0e9c6;
  }

  #myInput {
    width: 100%;
    margin-bottom: 12px;
    padding: 0.5rem;
    vertical-align: bottom;
    
  }

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    margin: 16px 0;
    padding-left: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    h2 {
      margin: 0 0 20px;
      line-height: 1;
      color: #44c4e7;
      font-size: 18px;
      font-weight: 400;
    }
    input {
      outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      color: #ccc;
      font-family: 'Lato', sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.2s linear;
      &input:focus {
        color: #333;
        border: 1px solid #44c4e7;
      }
    }
    button {
      cursor: pointer;
      background: #44c4e7;
      width: 100%;
      padding: 10px 15px;
      border: 0;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        background: #369cb8;
      }
    }
  }

  }


