.floating-buttons {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.floating-btn-img {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  margin: 1em;
  background-color: grey;
  opacity: 0.8;
}