.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer;
  }
  
  .center {
    display: flex;

    .img {
      display: inline-block;
      height: 24px;
      width: 24px;
      fill: white;
      margin-right: 8px;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      color: white;
    }
  }
  
  .right {
    height: 32px;
    width: 32px;
    padding: 8px;
  }
}
