.pages {
}

.page-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .page-modal {
    align-self: flex-end;
    border: none;
    background-color: white;
    display: flex;
    max-height: 90%;
    transform: translateY(100%);
    transition: all 500ms;

    &.ReactModal__Content--after-open {
      transform: translateY(0px);
    }

    &.ReactModal__Content--before-close {
      transform: translateY(100%);
    }

    .page-modal-content {
      display: flex;
      flex-direction: column;

      .header-img {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
      }

      .page-content {
        padding: 24px;
        overflow-y: auto;
      }
    }
  }
}
