.section {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  overflow: visible;
  background: transparent;
  text-decoration: none;
  cursor: pointer;

  .img {
    height: 40px;
    width: 40px;
    margin: 1em;
    filter: invert(20%) sepia(91%) saturate(3047%) hue-rotate(248deg) brightness(87%) contrast(95%);

    svg {
      fill: #5938d9;
    }
  }

  label {
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: left;
  }
}
