.section {
  height: 5em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.section-img {
  width: 2.5em;
  margin: 1em;
}

.section-title {
  font-size: 1.4em;
  font-weight: 700;
  color: black;
}
