.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 500;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  margin-top: 10px;
}

.Section {
  width: 90%;
  display: inline-block;
  margin: 3px;
  border-radius: 20px;
  background-color: #2196F3
}

.Section-title {
  font-size: 1.2em;
  font-weight: 400;
  margin: 8px;
  color: #FFF;
  border: none;
  background-color: Transparent;
  outline: none;
}

.Section-content {
  margin: 5px;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  background-color: #FFF
}

.Connect-form-label {
  display: block;
  margin: 5px;
  font-size: 0.8em;
}

.Connect-form-required {
  color: #F00
}

.Connect-form-input {
  margin-left: 10px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #777;
}

.Connect-form-submit {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #FFF;
  border-width: 1px;
  border-radius: 5px;
  border-color: #777;
}
