body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h3 {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

button,
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  margin: 16px 0;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Lato', sans-serif;
}

hr {
  width: 100%;
  margin: 0;
  border: 0.5px solid lightgrey;
}